.main--center {
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  max-width: 375px;
  height: 100vh;
  align-items: center;
  color: white;
  background: var(--bg-black);
  position: relative;
  font-size: 1.6rem;
  line-height: 1.5;
}
.category-chooser__title {
  margin: 10px 0;
}

.category-chooser {
  background: var(--bg-gray);
  margin: 0 24px;
  width: calc(100% - 48px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-chooser hr {
  width: calc(100% - 10px);
  border-bottom: none;
  margin: 0 0 15px;
}

.category-chooser__itemslist {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
}

.category-item {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

span.category-item__icon {
  width: 6.4rem;
  height: 6.4rem;
  font-size: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  color: rgba(0, 0, 0, 0.5);
}

.category-item__label {
  margin-top: 5px;
}

.pos-relative {
  position: relative;
}

.btn-submit {
  margin: 15px 19px 11px;
  padding: 12px 0;
  width: calc(100% - 38px);
  background: var(--cl-violet);
  color: white;
  border: none;
  border-radius: 0.4rem;
}
.c_point {
  cursor: pointer;
}
