.task__line {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 29px;
}

.task__line input {
  margin-left: auto;
  color: inherit;
  border: none;
  padding: 8px 16px;
  background: #363636;
  border-radius: 6px;
  font-size: 1.2rem;
  width: fit-content;
  outline: none;
  margin-left: auto;
}
