.desktop_home {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.desktop_home__title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.desktop_top_row {
  display: flex;
  justify-content: space-between;
}

.add_btn {
  border-radius: 2px;
  outline: 1px solid #2f76e6;
  cursor: pointer;
}

.dTable_container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 5rem);
  width: 100%;
  padding: 1.7rem 0;
  font-size: 1.4rem;
  border: white solid 1px;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 30%);
}
.tableData_link {
  cursor: pointer;
}
